table {
    border-collapse: collapse;
	border-style: hidden;
}

td, th {
	min-width: 16px;
    border: 1px solid black;
}

#ratingL, #ratingR {
	width: 24px;
}

footer {
	position: fixed;
	bottom: 0px;
}